// mat-grid-tile {
//   background: lightblue;
// }
mat-grid-tile {
  padding: 15px; /* Add a small padding around each tile */
}

mat-card {
  height: 70%; /* Ensure the card fills the grid tile */
  width: 80%;
}