<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div> 
          <h2>User Registration</h2>
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <!-- User registration fields -->
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Име</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">
                Името е задължително.
              </mat-error>
              <mat-error *ngIf="registrationForm.get('firstName')?.hasError('minlength')">
                Името трябва да е поне 2 символа.
              </mat-error>
              <mat-error *ngIf="registrationForm.get('firstName')?.hasError('maxlength')">
                Името трябва да е най-много 50 символа.
              </mat-error>
              <mat-error *ngIf="registrationForm.get('firstName')?.hasError('pattern')">
                Името трябва да съдържа 2-50 букви и може да включва интервали, точки, апострофи или тирета.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
                <mat-label>Фамилия</mat-label>
                <input matInput formControlName="lastName" required>
                <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">
                  Фамилията е задължителна.
                </mat-error>
                <mat-error *ngIf="registrationForm.get('lastName')?.hasError('minlength')">
                  Фамилията трябва да е поне 2 символа.
                </mat-error>
                <mat-error *ngIf="registrationForm.get('lastName')?.hasError('maxlength')">
                  Фамилията трябва да е най-много 50 символа.
                </mat-error>
                <mat-error *ngIf="registrationForm.get('lastName')?.hasError('pattern')">
                  Фамилията трябва да съдържа 2-50 букви и може да включва интервали, точки, апострофи или тирета.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 mb-3">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required email>
                <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
                  Email е задължителен.
                </mat-error>
                <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
                  Въведете валиден email адрес.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 mb-3">
                <mat-label>Парола</mat-label>
                <input matInput formControlName="password" type="password" required minlength="6">
                <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
                  Паролата е задължителна.
                </mat-error>
                <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
                  Паролата трябва да е поне 6 символа.
                </mat-error>
                <mat-error *ngIf="registrationForm.get('password')?.hasError('maxlength')">
                  Паролата трябва да е най-много 50 символа.
                </mat-error>
              </mat-form-field>
  
            <mat-divider class="my-4"></mat-divider>
  
            <!-- Company Form Component -->
            <app-company-form #companyFormComponent 
                              (logoChange)="onLogoChanged($event)"
                              (formSubmit)="onCompanyFormSubmit($event)"
                              (validateCompany)="onCompanyValidate($event)"
                              [countries]="countries"
                              [industries]="industries"
                              [showSaveButton]="false"
                              [showRegisterButton]="true"
                              (register)="onSubmit()">
            </app-company-form>
          </form>
        </div>
      </div>
    </div>
  </div>