.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 30%;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 8px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 140px;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  min-height: 100vh; 
  height: auto;
}

h2 {
  text-align: center;
}



.form {
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  padding-left: 5%;
}

.full-width {
  width: 100%;
}

mat-form-field {
  display: block; 
  margin-bottom: 5px; 
}

::ng-deep {
  .success-snackbar {
    background-color: #4caf50 !important;
    color: white !important;
    font-weight: 500;
    
    .mat-mdc-snack-bar-label {
      color: white !important;
    }
    
    .mat-mdc-button {
      color: white !important;
    }
  }

  .error-snackbar {
    background-color: #f44336 !important;
    color: white !important;
    font-weight: 500;
    
    .mat-mdc-snack-bar-label {
      color: white !important;
    }
    
    .mat-mdc-button {
      color: white !important;
    }
  }

  .warning-snackbar {
    background-color: #ff9800 !important;
    color: white !important;
    font-weight: 500;
    
    .mat-mdc-snack-bar-label {
      color: white !important;
    }
    
    .mat-mdc-button {
      color: white !important;
    }
  }
}
