h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}



label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; 
}

input.ng-invalid.ng-touched {
  border-color: #e74c3c;
}

div *ngIf {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  // background-color: #5cb85c;
  background-color: #63b175;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[mat-icon-button] {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  width: auto !important;
}