<h4 style="text-align: center;">Моите Компании</h4>
<div class="card-grid">
  <mat-card class="example-card company-card" *ngFor="let company of companies" appearance="outlined">

    <mat-card-header>
      <ng-container *ngIf="(company.logo || company.logoPath) && (company.logo || company.logoPath) !== ''; else defaultLogo">
        <img [src]="getLogoUrl(company)"
             alt="Company Logo"
             class="company-logo"
             (error)="logoLoadError($event)" />
        <!-- <div style="font-size:10px;word-break:break-all;">src: {{ getLogoUrl(company) }}</div> -->
      </ng-container>
      <ng-template #defaultLogo>
        <mat-icon>business</mat-icon>
      </ng-template>
    </mat-card-header>

    <mat-card-content>
      <p><span class="label">фирма: </span> <span class="value">{{ company.name | uppercase }} ({{ company.vatNumber }})</span></p>
      <p><span class="label">описание: </span> <span class="value">{{ company.description }}</span></p>
      <p><span class="label">индустрия: </span> <span class="value">{{ company.industry }}</span></p>
      <p><span class="label">държава: </span> <span class="value">{{ company.country }}</span></p>
      <p><span class="label">град: </span> <span class="value">{{ company.city }}</span></p>
      <p><span class="label">адрес: </span> <span class="value">{{ company.address }}</span></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editCompany(company)">Редактирай</button>
    </mat-card-actions>
  </mat-card>
</div>
<div style="margin-top: auto;padding: 10px;">
  <button *ngIf="!showCancelButton" mat-raised-button color="accent" routerLink="create">
    Добави нова фирма
  </button>
  <button *ngIf="showCancelButton" mat-raised-button color="warn" (click)="onCancel()">
    Откажи Добавяне нова фирма
  </button>
  <router-outlet></router-outlet>
</div>