header {
    background-color: #f0f0f0; /* Example background color */
    padding: 10px;
  }
  
  nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }

.right {
    float: right;
  }