


.logout-btn {
  margin-left: auto;

}

header {
  background-color: #6753a6;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #ffffff;
}

.right {
  margin-left: auto;
}

.logout-btn {
  margin-left: auto;
}