


.logout-btn {
  margin-left: auto;

}

header {
  // background-color: limegreen;
  background-color: #63b175;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  background-color: #eaf84c;
  transform: scale(1.05);
}

.right {
  margin-left: auto;
}

.logout-btn {
  margin-left: auto;
}