<h2>Create Company</h2>
<form [formGroup]="createCompanyForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>VAT Number</mat-label>
      <input matInput formControlName="vatNumber" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="button" (click)="getDataFromOutside()">Validate</button>
  </div>

  <div *ngIf="showCompanyDetails">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activity</mat-label>
        <input matInput formControlName="activity" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Person</mat-label>
        <input matInput formControlName="person" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Founded</mat-label>
        <input matInput formControlName="founded" type="date" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Industry</mat-label>

        <mat-select formControlName="industry">
          @for (industry of industries; track industry.value) {
            <mat-option [value]="industry.value">{{industry.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="createCompanyForm.invalid">Submit</button>
</form>