h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 20px; 
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.row {
  display: flex;
  gap: 20px;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

::ng-deep {
  .success-snackbar {
    background-color: #4caf50 !important;
    color: white !important;
    font-weight: 500;
    
    .mat-mdc-snack-bar-label {
      color: white !important;
    }
    
    .mat-mdc-button {
      color: white !important;
    }
  }

  .error-snackbar {
    background-color: #f44336 !important;
    color: white !important;
    font-weight: 500;
    
    .mat-mdc-snack-bar-label {
      color: white !important;
    }
    
    .mat-mdc-button {
      color: white !important;
    }
  }

  .warning-snackbar {
    background-color: #ff9800 !important;
    color: white !important;
    font-weight: 500;
    
    .mat-mdc-snack-bar-label {
      color: white !important;
    }
    
    .mat-mdc-button {
      color: white !important;
    }
  }
}
