<footer class="app-footer">

  <div class="footer-content">
    <button mat-raised-button color="primary" (click)="onInstallClick()">
      <mat-icon class="install-icon" aria-hidden="true">smartphone</mat-icon>
      <span class="install-text">Инсталирай на iOS / Android</span>
    </button>
    <div class="footer-left">
      <button mat-button routerLink="/about">За нас</button>
      <button mat-button routerLink="/privacy">Поверителност</button>
      <button mat-button routerLink="/cookies">Бисквитки</button>
    </div>

    <div class="footer-center">
      <mat-icon class="footer-icon" aria-hidden="true">copyright</mat-icon>
      <span class="footer-text">Всички права запазени</span>
    </div>

    <div class="footer-right">
    </div>
  </div>
</footer>
