<form [formGroup]="requestForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="request-form">
  <mat-card>
    <mat-card-title>Създай публикация</mat-card-title>
    <mat-card-content>
      <div class="form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Фирма</mat-label>
          <mat-select formControlName="company" required>
            <mat-option [value]="''">-- Избери Фирма --</mat-option>
            <mat-option *ngFor="let company of userCompanies" [value]="company.vatNumber">
              {{ company.name }} ({{ company.vatNumber }})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="requestForm.get('company')?.hasError('required')">Фирмата е задължителна</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Регион</mat-label>
          <input matInput formControlName="region" required maxlength="50">
          <mat-error *ngIf="requestForm.get('region')?.hasError('required')">Регионът е задължителен</mat-error>
          <mat-error *ngIf="requestForm.get('region')?.hasError('maxlength')">Регионът трябва да е до 50 символа</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Заглавие</mat-label>
          <input matInput formControlName="title" required maxlength="255">
          <mat-error *ngIf="requestForm.get('title')?.hasError('required')">Заглавието е задължително</mat-error>
          <mat-error *ngIf="requestForm.get('title')?.hasError('maxlength')">Заглавието трябва да е до 255 символа</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Тип публикация</mat-label>
          <mat-select formControlName="requestType" required>
            <mat-option value="LOOKING_FOR_SERVICE">Търся услуга</mat-option>
            <mat-option value="SHARE_SERVICE">Предлагам услуга</mat-option>
            <mat-option value="BUY">Купувам</mat-option>
            <mat-option value="SELL">Продавам</mat-option>
            <mat-option value="OTHER">Друго</mat-option>
          </mat-select>
          <mat-error *ngIf="requestForm.get('requestType')?.hasError('required')">Типът е задължителен</mat-error>
          <mat-error *ngIf="requestForm.get('requestType')?.hasError('maxlength')">Типът трябва да е до 50 символа</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Описание</mat-label>
          <textarea matInput formControlName="description" rows="3" required maxlength="500"></textarea>
          <mat-error *ngIf="requestForm.get('description')?.hasError('required')">Описанието е задължително</mat-error>
          <mat-error *ngIf="requestForm.get('description')?.hasError('maxlength')">Описанието трябва да е до 500 символа</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Необходимо  след</mat-label>
          <input matInput [matDatepicker]="pickerFrom" formControlName="activeFrom" >
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Необходимо преди </mat-label>
          <input matInput [matDatepicker]="pickerTo" formControlName="activeTo" >
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

        <mat-checkbox formControlName="urgent">Спешно</mat-checkbox>

        <ng-container *ngIf="requestForm.get('requestType')?.value === 'SHARE_SERVICE' || requestForm.get('requestType')?.value === 'LOOKING_FOR_SERVICE' || requestForm.get('requestType')?.value === 'BUY' || requestForm.get('requestType')?.value === 'SELL'">
          <mat-label style="margin-top:10px;display:block;">Тип услуга</mat-label>
          <mat-radio-group formControlName="serviceType">
            <mat-radio-button value="one_time">Еднократна</mat-radio-button>
            <mat-radio-button value="permanent">Постоянна</mat-radio-button>
          </mat-radio-group>

          <div style="display: flex; gap: 16px; align-items: flex-end;">
            <mat-form-field appearance="fill" style="flex:1;">
              <mat-label>Капацитет (брой, оборудване или количество)</mat-label>
              <input matInput type="number" formControlName="capacity" placeholder="Въведете число">
            </mat-form-field>
            <mat-form-field appearance="fill" style="flex:1;">
              <mat-label>Единица</mat-label>
              <mat-select formControlName="unit">
                <mat-option value="count">Брой</mat-option>
                <mat-option value="box">Кашон</mat-option>
                <mat-option value="pallet">Пале</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field appearance="fill" *ngIf="requestForm.get('requestType')?.value !== 'BUY' && requestForm.get('requestType')?.value !== 'SELL'">
            <mat-label>Режим работно време</mat-label>
            <mat-select formControlName="workMode">
              <mat-option value="nomatter">Без значение</mat-option>
              <mat-option value="standard">Стандартно делнично</mat-option>
              <mat-option value="extended">Удължено</mat-option>
              <mat-option value="continuous">Непрекъснато</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="requestForm.get('requestType')?.value === 'BUY' || requestForm.get('requestType')?.value === 'SELL'">
          <div style="display:flex; gap:10px; align-items: flex-end;">
            <mat-form-field appearance="fill" style="flex:1;">
              <mat-label>Цена от</mat-label>
              <input matInput type="number" formControlName="priceFrom">
            </mat-form-field>
            <mat-form-field appearance="fill" style="flex:1;">
              <mat-label>Цена до</mat-label>
              <input matInput type="number" formControlName="priceTo">
            </mat-form-field>
          </div>
        </ng-container>

        <div class="file-upload">
          <label for="pictures">Снимки</label>
          <input type="file" id="pictures" (change)="onFileSelected($event)" multiple accept="image/*">
        </div>

        <mat-form-field appearance="fill" style="width: 100%; margin-top: 18px;">
          <mat-label>Задължителни полета за да ви направят предложение</mat-label>
          <mat-select formControlName="requiredFields" multiple>
            <mat-option *ngFor="let field of ['fixedPrice','priceFrom','priceTo','availableFrom','availableTo','picture']" [value]="field">
              {{
                field === 'fixedPrice' ? 'Фиксирана цена' :
                field === 'priceFrom' ? 'Цена от' :
                field === 'priceTo' ? 'Цена до' :
                (field === 'availableFrom' && (requestForm.get('requestType')?.value === 'LOOKING_FOR_SERVICE' || requestForm.get('requestType')?.value === 'SHARE_SERVICE')) ? 'Свободен от' :
                (field === 'availableTo' && (requestForm.get('requestType')?.value === 'LOOKING_FOR_SERVICE' || requestForm.get('requestType')?.value === 'SHARE_SERVICE')) ? 'Свободен до' :
                field === 'availableFrom' ? 'Налично от' :
                field === 'availableTo' ? 'Налично до' :
                field === 'picture' ? 'Снимка' : field
              }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-raised-button color="primary" type="submit" [disabled]="requestForm.invalid">Създай</button>
      <button mat-button color="warn" type="button" (click)="onCancel()">Отказ</button>
    </mat-card-actions>
  </mat-card>
</form>
